<ul class="todos">
    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Ir ao Supermercado
            <br>
            <small>18/07/2022</small>
        </a>
    </li>
    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Ir ao Supermercado
            <br>
            <small>18/07/2022</small>
        </a>
    </li>
    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Ir ao Supermercado
            <br>
            <small>18/07/2022</small>
        </a>
    </li>
</ul>